segment_anything @ git+https://github.com/facebookresearch/segment-anything.git
opencv-python 
pycocotools 
matplotlib 

pycocotools
pycocoevalcap
tqdm
pyyaml
torch
azfuse @ git+https://github.com/microsoft/azfuse.git
torchvision
transformers
boto3
generativeimage2text @ git+https://github.com/microsoft/GenerativeImage2Text.git

pandas
fastparquet

datasets
evaluate
jiwer
rouge_score
sentence-transformers