segment_anything
opencv-python 
pycocotools 
matplotlib 

pycocotools
pycocoevalcap
tqdm
pyyaml
torch
azfuse
torchvision
transformers
boto3
generativeimage2text

pandas
fastparquet

datasets
evaluate
jiwer
rouge_score
sentence-transformers